.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    flex-direction: column;
}

.mainContent {
    margin: 15px 0;
}

.mainContent .pic {
    max-width: 100%;
    margin-bottom: 15px;
}

@media all and (max-width: 650px) {
    .mainContent {
        font-size: 14px;
    }
}