#heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.imgCaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#category {
    font-size: 22px;
}

#title {
    font-size: 36px;
    margin: 15px;
}

#date {
    font-size: 14px;
}

.pic {
    max-width: 100%;
}

#heading p,
.imgCaption p {
    margin: 15px;
}
