{% extends 'blog/base.html' %}
{% block content %}

<div class="wrapper">
    <div id="heading">
        <h3 id="category">{{post.category}}</h3>
        <h1 id="title">{{post.title}}</h1>
        <h3 id="date">{{post.published_date}}</h3>
        <p id="mainContent">{{post.text|linebreaks}}</p>
    </div>
    {% for image in post.postimage_set.all %}
    <div class="imgCaption">
        <img class="pic" src="{{ MEDIA_URL}}{{ image.image.url }}" />
        <p>{{image.caption|linebreaks }}</p>
    </div>
    {% endfor %}

</div>
{% endblock %}
