{% extends 'blog/base.html' %}
{% block content %}

<div id="blogs">
    {% for post in posts %}
    {% if post.index in smalls %}
    <div class="blog">
        <img class="myImg" src="{{ MEDIA_URL}}{{ post.thispost.bg_image_skinny.url }}" />
        <div class="content">
            <div id="bgThing"></div>
            <p class="categoryText">{{ post.thispost.category }}</p>
            <p class="titleText"><a href="{% url 'post_detail' pk=post.thispost.pk %}">{{ post.thispost.title }}</a></p>
            <p class="dateText">{{ post.thispost.published_date| date:"F d, Y" }}</p>
        </div>
    </div>
    {% endif %}
    {% if post.index in bigs %}
    <div class="blog2">
        <img class="myImg" src="{{ MEDIA_URL}}{{ post.thispost.bg_image_wide.url }}" />
        <div class="content">
            <div id="bgThing"></div>
            <p class="categoryText">{{ post.thispost.category }}</p>
            <p class="titleText"><a href="{% url 'post_detail' pk=post.thispost.pk %}">{{ post.thispost.title }}</a></p>
            <p class="dateText">{{ post.thispost.published_date| date:"F d, Y" }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% endblock %}
