/* Main CSS */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #2d3142;
    line-height: 2;
}

.flexDisplay {
    display: flex;
}
.noneDisplay {
    display: flex;
}
#wrapper {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #5c8eb7;
    margin-bottom: 15px;
}

#logo a img {
    height: 100px;
    margin-top: 15px;
}



#navBar {
    justify-content: center;
    align-items: center;
}

.navItem {
    list-style-type: none;
    font-size: 18px;
    padding: 15px;
}

.navItemHover {
    background-color: aliceblue;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-top: 2px solid #5c8eb7;
    margin-top: 15px;
    padding: 30px 0;
}

.block {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block ul {
    display: flex;
    justify-content: center;
    width: 100%
}

.block ul li {
    font-size: 32px;
    margin: 10px;
}

.block ul li a:hover {
    -webkit-transition: color .25s;
    transition: color .25s;
    color: #5c8eb7;
}

.block p a:hover {
    text-decoration: underline;
}

#footName {
    font-size: 32px;
}

#copyright,
#me {
    font-size: 12px;
}

.menu-icon {
    display: none;
    z-index: 999;
    width: 85%;
    text-align: right;
    margin-top: 20px;
    font-size: 32px;
}


@media all and (max-width: 600px) {

    .menu-icon {
        display: block;
        right: 50%;
    }

    #wrapper {
        width: 80%;
    }

    #navBar {
        flex-direction: column;
    }

    .navItem {
        padding: 10px;
    }

    .noneDisplay {
        display: none;
    }
    #logo a img {
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 20px 0;
        border-bottom: 2px solid #5c8eb7;
    }

    #logo {
        margin: 20px 0px;
        width: 100%;
    }
    
    #logo a {
        width: 100%;
    }

    nav {
        border: none;
        margin: 0;
    }

    footer {
        flex-direction: column;
    }

    .block {
        width: 100%;
    }
}
