body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #2d3142;
}

#wrapper {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #4f5d75;
    margin-bottom: 15px;
}

#name {
    font-size: 48px;
    margin: 30px 0;
}

#navBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem {
    list-style-type: none;
    font-size: 18px;
    padding: 15px;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-top: 2px solid #4f5d75;
    margin-top: 15px;
    padding: 30px 0;
}

.block {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block ul {
    display: flex;
    justify-content: center;
    width: 100%
}

.block ul li {
    font-size: 32px;
    margin: 10px;
}

#footName {
    font-size: 32px;
}

#copyright,
#me {
    font-size: 12px;
}
