html,
body,
h1,
h2,
h3,
p,
div,
ul,
a,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: #2d3142;
    text-decoration: none;
    list-style-type: none;
}

html,
body {
    width: 100%;
}
